<a href="https://colab.research.google.com/github/shumyyla/TTDS/blob/master/ML_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder , MinMaxScaler
from sklearn.metrics import confusion_matrix , classification_report

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/salaryprocessed.csv')

In [ ]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/salarydata.csv', index=False)

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Others,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30713,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,0,38,United-States,<=50K
30714,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,1,0,0,40,United-States,>50K
30715,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,0,40,United-States,<=50K
30716,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,1,0,0,20,United-States,<=50K
30717,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,0,15024,0,40,United-States,>50K

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
df['salary'] = encoder.fit_transform(df['salary']) #converting salary feature into 0/1. 1 for salary>=50k. 0 is for salary<=50k.
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,1,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,1,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,1,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,1,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30713,27,2,257302,7,12,2,12,5,4,0,0,0,38,1,0
30714,40,2,154374,11,9,2,6,0,4,1,0,0,40,1,1
30715,58,2,151910,11,9,6,0,4,4,0,0,0,40,1,0
30716,22,2,201490,11,9,4,0,3,4,1,0,0,20,1,0
30717,52,3,287927,11,9,2,3,5,4,0,15024,0,40,1,1

In [ ]:
for col in df.loc[: , df.dtypes == np.object].columns:
    df[col] = df[col].str.strip()

<ipython-input-31-731be8b50486>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  for col in df.loc[: , df.dtypes == np.object].columns:

In [ ]:
df['marital-status'] =  df['marital-status'].replace(['Married-civ-spouse' , 'Married-spouse-absent' , 'Married-AF-spouse' ] , 'Married')
df['marital-status'] =  df['marital-status'].replace(['Divorced' , 'Separated' , 'Widowed' ] , 'Other')

In [ ]:
# Converting categorical features

for col in df.loc[: , df.dtypes == np.object].columns:
    df[col] = lbl.fit_transform(df[col])
    # To know the meaning of numbers
    directory = {index: label for index, label in enumerate(lbl.classes_)}
    nums.append(directory)
    # assign transformed values back to the original dataframe
    df[col] = lbl.inverse_transform(df[col])

<ipython-input-33-3e552ff1cf3e>:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  for col in df.loc[: , df.dtypes == np.object].columns:

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,5,77516,9,13,1,0,1,4,1,2174,0,40,1,0
1,50,4,83311,9,13,0,3,0,4,1,0,0,13,1,0
2,38,2,215646,11,9,2,5,1,4,1,0,0,40,1,0
3,53,2,234721,1,7,0,5,0,2,1,0,0,40,1,0
4,28,2,338409,9,13,0,9,5,2,0,0,0,40,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30713,27,2,257302,7,12,0,12,5,4,0,0,0,38,1,0
30714,40,2,154374,11,9,0,6,0,4,1,0,0,40,1,1
30715,58,2,151910,11,9,2,0,4,4,0,0,0,40,1,0
30716,22,2,201490,11,9,1,0,3,4,1,0,0,20,1,0
30717,52,3,287927,11,9,0,3,5,4,0,15024,0,40,1,1

In [ ]:
x = df.drop(['fnlwgt' , 'salary' , 'education-num'] , axis=1)
y = df['salary']

In [ ]:
# performing feature scaling on the input data x using MinMaxScaler()
std  = MinMaxScaler()
x = pd.DataFrame(std.fit_transform(x) , columns=x.columns)
x

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.301370,0.833333,0.600000,0.5,0.000000,0.2,1.0,1.0,0.021740,0.0,0.397959,1.0
1,0.452055,0.666667,0.600000,0.0,0.230769,0.0,1.0,1.0,0.000000,0.0,0.122449,1.0
2,0.287671,0.333333,0.733333,1.0,0.384615,0.2,1.0,1.0,0.000000,0.0,0.397959,1.0
3,0.493151,0.333333,0.066667,0.0,0.384615,0.0,0.5,1.0,0.000000,0.0,0.397959,1.0
4,0.150685,0.333333,0.600000,0.0,0.692308,1.0,0.5,0.0,0.000000,0.0,0.397959,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
30713,0.136986,0.333333,0.466667,0.0,0.923077,1.0,1.0,0.0,0.000000,0.0,0.377551,1.0
30714,0.315068,0.333333,0.733333,0.0,0.461538,0.0,1.0,1.0,0.000000,0.0,0.397959,1.0
30715,0.561644,0.333333,0.733333,1.0,0.000000,0.8,1.0,0.0,0.000000,0.0,0.397959,1.0
30716,0.068493,0.333333,0.733333,0.5,0.000000,0.6,1.0,1.0,0.000000,0.0,0.193878,1.0
30717,0.479452,0.500000,0.733333,0.0,0.230769,1.0,1.0,0.0,0.150242,0.0,0.397959,1.0

In [ ]:
x_train , x_test , y_train , y_test = train_test_split(x , y , train_size=0.8 , random_state=44)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(24574, 12)
(6144, 12)
(24574,)
(6144,)

#Random Forest

In [ ]:
rfc = RandomForestClassifier()

model = rfc.fit(x_train , y_train)
pred = model.predict(x_test)

print("Accuracy on Test Data : {:,.2f}".format(rfc.score(x_test , y_test) *100 ) , '%')

Accuracy on Test Data : 84.08 %

In [ ]:
print(classification_report(y_test , pred))

              precision    recall  f1-score   support

           0       0.88      0.91      0.90      4620
           1       0.70      0.63      0.66      1524

    accuracy                           0.84      6144
   macro avg       0.79      0.77      0.78      6144
weighted avg       0.84      0.84      0.84      6144

#Gradient Boosting Classifier

In [ ]:
gbm = GradientBoostingClassifier().fit(x_train,y_train)
y_pred = gbm.predict(x_test)

In [ ]:
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy on Test Data: {:.2f}".format(accuracy*100 ),'%')

Accuracy on Test Data: 85.92 %

In [ ]:
print(classification_report(y_test,y_pred))

NameError: ignored

#Decision Tree

In [ ]:
dt = DecisionTreeRegressor(max_depth=8, min_samples_split=8)

In [ ]:
dt.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=8, min_samples_split=8)

In [ ]:
y_pred = dt.predict(x_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean squared error:", mse)
print("R-squared:", r2)

Mean squared error: 0.10508539736153977
R-squared: 0.4365987032223442

In [ ]:
import numpy as np
from sklearn.metrics import classification_report

# Assuming y_test and y_pred are arrays of predicted probabilities or continuous values
if len(np.unique(y_test)) == 2:
    # Convert binary labels to 0/1 format
    y_test_labels = np.where(y_test > 0.5, 1, 0)
    y_pred_labels = np.where(y_pred > 0.5, 1, 0)
else:
    # Convert multiclass labels to integer format
    y_test_labels = np.argmax(y_test, axis=1)
    y_pred_labels = np.argmax(y_pred, axis=1)

print(classification_report(y_test_labels, y_pred_labels))

              precision    recall  f1-score   support

           0       0.86      0.95      0.90      4620
           1       0.77      0.54      0.64      1524

    accuracy                           0.85      6144
   macro avg       0.81      0.74      0.77      6144
weighted avg       0.84      0.85      0.84      6144

#XG Boost

In [ ]:
from xgboost import XGBRegressor

In [ ]:
xgb = XGBRegressor(n_estimators=130, learning_rate=0.2, max_depth=4)

In [ ]:
xgb.fit(x_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.2, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=4, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=130, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [ ]:
y_pred = xgb.predict(x_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean squared error:", mse)
print("R-squared:", r2)

Mean squared error: 0.0944709663963847
R-squared: 0.4935065545553968

In [ ]:
import numpy as np
from sklearn.metrics import classification_report

# Assuming y_test and y_pred are arrays of predicted probabilities or continuous values
if len(np.unique(y_test)) == 2:
    # Convert binary labels to 0/1 format
    y_test_labels = np.where(y_test > 0.5, 1, 0)
    y_pred_labels = np.where(y_pred > 0.5, 1, 0)
else:
    # Convert multiclass labels to integer format
    y_test_labels = np.argmax(y_test, axis=1)
    y_pred_labels = np.argmax(y_pred, axis=1)

print(classification_report(y_test_labels, y_pred_labels))

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      4620
           1       0.78      0.64      0.70      1524

    accuracy                           0.87      6144
   macro avg       0.83      0.79      0.81      6144
weighted avg       0.86      0.87      0.86      6144